<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SYDIautomated.ou" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SYDIautomated.ou" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <SYDIautomated.ou>
            <setting name="OU" serializeAs="String">
                <value>OU=Servers,DC=domain,DC=com</value>
            </setting>
            <setting name="DCOU" serializeAs="String">
                <value>OU=Domain Controllers,DC=domain,DC=com</value>
            </setting>
            <setting name="FTP_Address" serializeAs="String">
                <value>10.0.1.2</value>
            </setting>
            <setting name="FTP_UserName" serializeAs="String">
                <value>admin</value>
            </setting>
        </SYDIautomated.ou>
    </applicationSettings>
    <userSettings>
        <SYDIautomated.ou>
            <setting name="FTP_Password" serializeAs="String">
                <value>Password1</value>
            </setting>
            <setting name="Scripts_Path" serializeAs="String">
                <value>c:\scripts</value>
            </setting>
        </SYDIautomated.ou>
    </userSettings>
</configuration>